<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nbody Page</title>
    <style>
        #fullname {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Nbody Page</h1>
    <div id="fullname">{{fullname}}</div>
    <!-- The rest of your nbody.html content -->
</body>
</html>
