Privacy Policy for Natallia Artsukevich's Note-taking App with Advertising

Last updated: April 29, 2023

Natallia Artsukevich ("us", "we", or "our") operates the Note-taking App with Advertising for Android devices (the "Service"). This page informs you of our policies regarding the collection, use, and disclosure of personal information when you use our Service.

By using the Service, you agree to the collection and use of information in accordance with this policy. If you have any questions about this Privacy Policy, please contact us at 0natalya2000@gmail.com.

Information Collection and Use
While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name and email address ("Personal Information").

We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.

Log Data
We collect information that your device sends whenever you use our Service ("Log Data"). This Log Data may include information such as your device's Internet Protocol ("IP") address, device name, operating system version, the configuration of the app when using our Service, the time and date of your use of the Service, and other statistics.

Advertising
Our Service uses third-party advertising services to display ads within the app. These third-party ad providers may collect information about your device and usage of our Service to provide personalized advertisements. This information may include your device's IP address, device identifiers, and your interactions with the ads.

We have no control over the data collected by third-party advertisers and are not responsible for their privacy practices. We encourage you to review the privacy policies of the third-party ad providers used in our Service.

Service Providers
We may employ third-party companies and individuals to facilitate our Service, to provide the Service on our behalf, or to perform Service-related services, such as cloud storage providers and advertising partners.

These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.

Security
The security of your Personal Information is important to us, but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.

Links to Other Sites
Our Service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.

We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.

Changes to This Privacy Policy
We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.

Contact Us
If you have any questions about this Privacy Policy, please contact us at 0natalya2000@gmail.com.